NEXT_PUBLIC_API_KEY=Your_Api_Key
NEXT_PUBLIC_AUTH_DOMAIN=Your_Auth_Domain
NEXT_PUBLIC_PROJECT_ID=Your_Project_Id
NEXT_PUBLIC_STORAGE_BUCKET=Your_Storage_Bucket
NEXT_PUBLIC_MESSAGING_SENDER_ID=Your_Messaging_Sender_Id
NEXT_PUBLIC_APP_ID=Your_App_Id
NEXT_PUBLIC_VAPID_KEY=Your_Vapid_Key