.jumbotron {
  background-image: url('/images/2463_Converted.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 92.5vh;
  width: 100%;
  background-color: white;
  margin: 0;
}

.container {
  height: 100vh;
}

.grid {
  background-color: rgb(209, 241, 250);
  border: none;
}

.grid:hover {
  background-color: rgba(185, 172, 255, 0.8);
}

.bill-list {
  background-color: rgba(209, 241, 250, 0.4);
  margin: 0;
  background-size: cover;
}

.image {
  border-radius: 10%;
  border: none;
}

.custom-a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.custom-a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.title {
  background-color: rgba(128, 144, 160, 0.4);
  height: 70px;
  font-size: 30px;
  font-weight: bold;
}

.bill-title {
  font-size: 20px;
}

.empty-bill {
  font-size: 25px;
  font-weight: bold;
}

.button {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.table-title {
  font-size: 28px;
  font-weight: bold;
}
